@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        color: #fff;
        background-color: #000;
    }
}

@layer components {
    .menulink {

        @apply cursor-pointer hover:text-[#ffffff];
    }

    .tags {
        background-color: #e66d36;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 3px 10px;
        display: inline-block;
        color: white;
        font-size: 12px;
    }

    .tags:last-child {
        margin-right: 0;
    }

    .tags:nth-child(2){
        background-color: #08ae3f;
    }
    .tags:nth-child(3){
        background-color: #239ecb;
    }
    .tags:nth-child(4){
        background-color: #086785;
    }
}